services:
  kubernetes:
    build: .
    read_only: true
    volumes:
      - tmp:/tmp

volumes:
  tmp:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
      o: "size=525m,mode=700"
